<div class="top">
    <div class="menu">
        <a href="/">
        <!-- <div class="menutab" id="tabactive"> -->
            <div class="menutab">
            <div class="menuicon" >
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                <path d="M13.0103 18.0438V13.9048C13.0103 12.5333 11.8985 11.4214 10.5269 11.4214C9.15538 11.4214 8.04352 12.5333 8.04352 13.9048V18.0438M6.88925 5.33728L4.73697 7.36999C4.12498 7.94797 3.81899 8.23697 3.59981 8.57908C3.40553 8.88234 3.26203 9.21526 3.17495 9.56473C3.07672 9.95898 3.07672 10.3799 3.07672 11.2216V12.7459C3.07672 14.6003 3.07672 15.5276 3.43762 16.2359C3.75508 16.8589 4.26163 17.3654 4.88467 17.6829C5.59297 18.0438 6.5202 18.0438 8.37464 18.0438H12.6792C14.5337 18.0438 15.4609 18.0438 16.1692 17.6829C16.7922 17.3654 17.2988 16.8589 17.6162 16.2359C17.9771 15.5276 17.9771 14.6003 17.9771 12.7459V11.2216C17.9771 10.3799 17.9771 9.95898 17.8789 9.56473C17.7918 9.21526 17.6483 8.88234 17.454 8.57908C17.2349 8.23697 16.9289 7.94797 16.3169 7.36999L14.1646 5.33728C12.8844 4.1282 12.2443 3.52367 11.5141 3.2956C10.8713 3.09483 10.1826 3.09483 9.53975 3.2956C8.80954 3.52367 8.16944 4.1282 6.88925 5.33728Z" stroke-width="1.6556" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="menuname">HOME</div>
        </div>
        </a>
        <!-- <div class="menutab">
            <div class="menuicon">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                    <path d="M13.0103 18.0438V13.9048C13.0103 12.5333 11.8985 11.4214 10.5269 11.4214C9.15538 11.4214 8.04352 12.5333 8.04352 13.9048V18.0438M6.88925 5.33728L4.73697 7.36999C4.12498 7.94797 3.81899 8.23697 3.59981 8.57908C3.40553 8.88234 3.26203 9.21526 3.17495 9.56473C3.07672 9.95898 3.07672 10.3799 3.07672 11.2216V12.7459C3.07672 14.6003 3.07672 15.5276 3.43762 16.2359C3.75508 16.8589 4.26163 17.3654 4.88467 17.6829C5.59297 18.0438 6.5202 18.0438 8.37464 18.0438H12.6792C14.5337 18.0438 15.4609 18.0438 16.1692 17.6829C16.7922 17.3654 17.2988 16.8589 17.6162 16.2359C17.9771 15.5276 17.9771 14.6003 17.9771 12.7459V11.2216C17.9771 10.3799 17.9771 9.95898 17.8789 9.56473C17.7918 9.21526 17.6483 8.88234 17.454 8.57908C17.2349 8.23697 16.9289 7.94797 16.3169 7.36999L14.1646 5.33728C12.8844 4.1282 12.2443 3.52367 11.5141 3.2956C10.8713 3.09483 10.1826 3.09483 9.53975 3.2956C8.80954 3.52367 8.16944 4.1282 6.88925 5.33728Z" stroke-width="1.6556" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            </div>
            <div class="menuname">WATCHLIST</div>
        </div> -->
        
        
        <div class="menutab">
            <div class="menuicon">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                    <path d="M13.0103 18.0438V13.9048C13.0103 12.5333 11.8985 11.4214 10.5269 11.4214C9.15538 11.4214 8.04352 12.5333 8.04352 13.9048V18.0438M6.88925 5.33728L4.73697 7.36999C4.12498 7.94797 3.81899 8.23697 3.59981 8.57908C3.40553 8.88234 3.26203 9.21526 3.17495 9.56473C3.07672 9.95898 3.07672 10.3799 3.07672 11.2216V12.7459C3.07672 14.6003 3.07672 15.5276 3.43762 16.2359C3.75508 16.8589 4.26163 17.3654 4.88467 17.6829C5.59297 18.0438 6.5202 18.0438 8.37464 18.0438H12.6792C14.5337 18.0438 15.4609 18.0438 16.1692 17.6829C16.7922 17.3654 17.2988 16.8589 17.6162 16.2359C17.9771 15.5276 17.9771 14.6003 17.9771 12.7459V11.2216C17.9771 10.3799 17.9771 9.95898 17.8789 9.56473C17.7918 9.21526 17.6483 8.88234 17.454 8.57908C17.2349 8.23697 16.9289 7.94797 16.3169 7.36999L14.1646 5.33728C12.8844 4.1282 12.2443 3.52367 11.5141 3.2956C10.8713 3.09483 10.1826 3.09483 9.53975 3.2956C8.80954 3.52367 8.16944 4.1282 6.88925 5.33728Z" stroke-width="1.6556" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            </div>
            <div class="menuname" >PORTFOLIO</div>
        </div>
    
    </div>

    <div class="logo">
        
    </div>
</div>